<h3>{{product.name}}</h3>
<a [routerLink]="['/product/new']">Adicionar produto</a>
<br><br>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products; let i = index;">
        <td>{{ product.name }}</td>
        <td>{{ product.value | currency: 'BRL' }}</td>
        <td><a [routerLink]="['/companies/', product.id]">Ver</a></td>
        <td><a (click)="edit(product.id);">Editar</a></td>
        <td><a (click)="delete(product.id, i);">Excluir</a></td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right;">Total de Registros: {{ products.length }}</td>
        </tr>
    </tbody>

    <a [routerLink]="['/companies']">Voltar</a>
</table>
