<h3>{{title}}</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Produtos</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let company of companies; let i = index;">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.products_count }}</td>
        <td><a (click)="edit(company.id);">Editar</a></td>
        <td><a (click)="delete(company.id, i);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ companies.length }}</td>
        </tr>
    </tbody>
</table>
